*{
    background-color: rgb(108, 127, 216);
}
/*
#Quién-Soy h2{
    color: red;
    font-size: 10px;
  }
#Mis-Estudios{
    font-size: 10px;
  }
#Contacto{
  font-size: 10px;
}
.section    {
    color: aqua;
}

*/
.section h2{
    color: rgb(39, 46, 194);
   font-size: 15px;

}
.imagen{
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */

}
#Mis-Hobbies h2{
  font-size: 15px;
  color: #b98c61;
}

